# Ignore environment variables file
.env

# Ignore Node.js dependencies
node_modules/

# Ignore build output directories
dist/
build/
out/

# Ignore logs
*.log
log/

# Ignore operating system files
Thumbs.db # Windows

# Ignore editor specific files
.vscode/ # VS Code
.idea/ # IntelliJ IDEA